<div class="responsive">
    <div class="divCase">
        <div class="row ">
            <div class="col-xs-6 ">
                <button type="button" class="  btn-light btnCase" (click)="butGoFindCasePage()">
                    <span class="glyphicon glyphicon glyphicon-user glyphiconSize "
                        style="color:rgb(137, 206, 27);"></span>
                    <span> &nbsp; Find Case </span>
                </button>
            </div>
            <div class="col-xs-6">
                <button type="button" class=" color-ais btnCase" (click)="butGoCreateCasePage()">
                    <span class="glyphicon glyphicon-book glyphiconSize " style="color:white;"></span>
                    <span>&nbsp; New Case</span>
                </button>
            </div>
        </div>
    </div>

    <div class="divCreateCase ">
        <span> &nbsp; สร้างเคสใหม่ (ระบุข้อมูลให้ครบถ้วน) </span>
        <hr>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row" style="margin-top: 10%; ">
                <div class="col-xs-3">
                    <div class="upload-btn-wrapper" style="width: 100%; ">
                        <button type="button" class="btn btn-default" style="width: 100%;" onclick="document.getElementById('id01').style.display='block'">
                            <div class="innerboxd " *ngIf="butSelImg">
                                <img src="https://front-landing-age.000webhostapp.com/front-landing-age/assets/icon/icon-imc-secc.png" alt="Smiley face" width="90%" />
                            </div>
                            <img *ngIf="!butSelImg" style="margin:auto; " src="https://front-landing-age.000webhostapp.com/front-landing-age/assets/icon/icon-sel-img.png"
                                style="max-width: 40px;" />
                            <div *ngIf="submitted && !butSelImg ">
                                <p class="text-danger"><small>โปรดเลือก..</small></p>
                            </div>
                        </button>
                        <input *ngIf="butSelImg" type="button" hidden />
                        <input multiple type="button" id="idFile" *ngIf="!butSelImg" (change)="onSelectFile($event)" name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
                    </div>
                </div>
                <div class="col-xs-9">
                    <input type="text" formControlName="caseBy" class="form-control inputText1" placeholder="Create case by" [ngClass]="{ 'is-invalid': submitted && f.caseBy.errors }" />
                    <div *ngIf="submitted && f.caseBy.errors" class="invalid-feedback">
                        <div *ngIf="f.caseBy.errors.required">โปรดระบุ..</div>
                        <div *ngIf="f.caseBy.errors.minlength">กรอกข้อมูล 2 ตัวขึ้นไป</div>
                        <div *ngIf="f.caseBy.errors.maxlength">จำกัด 50 ตัวอักษร</div>
                    </div>
                    <input type="text" formControlName="topic" class="form-control inputText1" placeholder="Topic" [ngClass]="{ 'is-invalid': submitted && f.topic.errors }" />
                    <div *ngIf="submitted && f.topic.errors" class="invalid-feedback">
                        <div *ngIf="f.topic.errors.required">โปรดระบุ..</div>
                        <div *ngIf="f.topic.errors.minlength">กรอกข้อมูล 2 ตัวขึ้นไป</div>
                        <div *ngIf="f.topic.errors.maxlength">จำกัด 50 ตัวอักษร</div>
                    </div>
                    <input type="text" formControlName="description" class="form-control inputText1" placeholder="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">โปรดระบุ..</div>
                        <div *ngIf="f.description.errors.minlength">กรอกข้อมูล 2 ตัวขึ้นไป</div>
                        <div *ngIf="f.description.errors.maxlength">จำกัด 50 ตัวอักษร</div>
                    </div>
                    <select type="text" formControlName="statusCase" class="form-control inputText1" value="" placeholder="Create case by" [ngClass]="{ 'is-invalid': submitted && f.statusCase.errors }">
                        <option value="">Selete Case</option>
                        <option value="immediately">1. Immediately (I)</option>
                        <option value="Urgent">2. Urgent (U)</option>
                        <option value="Nurmal">3. Nurmal (N)</option>
                    </select>
                    <div *ngIf="submitted && f.statusCase.errors" class="invalid-feedback">
                        <div *ngIf="f.statusCase.errors.required">โปรดระบุ..</div>
                    </div>
                </div>
            </div>

            <div class="divSubmitCase">
                <button type="button" class="btn-light btnSubmit" (click)="clearFrom()">
                    <span>Clear</span>
                </button>
                <button type="submit" class="btn-light btnSubmit color-ais">
                    <span>Submit</span>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px; max-height: 400px;">
        <header class="w3-container color-ais">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h2>Image</h2>
        </header>
        <div class="w3-center"><br>
            <div style=" max-height: 200px; overflow-x: scroll;">
                <div class="w3-container" style="margin-bottom: 5%; ">
                    <img style="max-width: 30%; margin: auto; margin-bottom: 5%;" *ngFor='let url of urls' [src]="url" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn-light btnSubmit color-ais">
                <span>OK</span>
            </button>
            <span class="btn btnSubmit color-ais btn-file">
                <input multiple id="idFile" (change)="onSelectFile($event)" name="imageUrl" type="file" accept="image/*" 
                    (change)="handleInputChange($event)" />Add </span>
        </div>
    </div>
</div>
<!-- modal -->


<!-- modal Alert-->
<input type="button" id="callAlert" name="callAlert" onclick="document.getElementById('modalAlert').style.display='block'" hidden>
<div id="modalAlert" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px; max-height: 400px; margin-top: auto;">
        <header class="w3-container color-ais">
            <span onclick="document.getElementById('modalAlert').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h3>Messeng</h3>
        </header>
        <div class="w3-center"><br>
            <div style=" max-height: 200px; overflow-x: scroll;">
                <div class="w3-container" style="margin-bottom: 5%; ">
                    <h4> {{ msg }} </h4>
                </div>
            </div>
        </div>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button type="button" onclick="document.getElementById('modalAlert').style.display='none'" class="btn-light btnAlert color-ais">
                <span>OK</span>
            </button>
        </div>
    </div>
</div>
<!-- modal Alert-->

<!-- modal loadling -->
<input type="button" id="modalLoading" name="modalLoading"
    onclick="document.getElementById('modalLoad').style.display='block'" hidden >
<input type="button" id="closeModalLoading" name="closeModalLoading"
    onclick="document.getElementById('modalLoad').style.display='none'" hidden>

<div id="modalLoad" class="w3-modal">
    <div class="text-center" style="margin-top: 30%">
        <div class="spinner-border " style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!-- modal loadling -->