<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Angular Vesion 9  * * * * * * * * * * * -->
<!-- * * * * * * * * Node Package Manager 6.14.2 * * * * * * * * * -->
<!-- * * * * * * * * Assignment project (1) * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Create By Super Guide  * *  * * * * * * * * -->
<!-- * * * * * * * * * * ( 20/3/2020 ) * * * * * * * * * * * * * -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body class="zoom body">
    <div class="gradNav">

        

        <a href="#" (click)="onClickBackNav()" style="margin-left: 0;" class="float-sm-left">
            <span class="glyphicon glyphicon-chevron-left" style="color:white;"></span>
        </a>&nbsp;&nbsp;<span><b>{{ topMenuInfo }}</b></span>


    </div>
    <router-outlet></router-outlet>
</body>